.row-1 {
    height: 672px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F6FA;
}

.row-1__column-1 {
    width: 45%;
}
.row-1__column-2 {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.window {
    width: 570px;
    height: 388px;
    display: block;
    background-color: #ECEFF7;
    border: 1px solid #3C64B1;
    border-radius: 5px;
    margin: 0;
}

.window-top {
    width: 100%;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #3C64B1;
    background-color: white;
}

.circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid #3C64B1;
    display: inline-flex;
    margin: 10px 0 10px 10px;
}

.row-2__title {
    display: flex;
    justify-content: center;
}

.row-2__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row-3 {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-3__column-1 {
    width: 45%;
}

.row-3__column-2 {
    width: 50%;
}

.img-stat {
    width: 540px;
    height: 310px;
}

.row-4 {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-4__column-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
