.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ECEFF7;
}

.logo {
    margin: 0;
    color: #3C64B1;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
