.footer {
    height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEFF7;
}

.footer__item {
    width: 40%;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: #373F41;
}

.copyright-text {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #C3CBCD;
}